<html>
    <head>
        <title>Justin's Blog</title>
    </head>
    <body>
        <h1>The Kudela Partnership</h1>
        <h2>Founded June 23, 2012</h2>
        <br />
        <a href="http://www.google.com">Google</a>
        <div>
            <ul><li>Justin</li>
                <li>Katherine</li>
                <li>Hunter</li>
                <li>Tyler</li>
            </ul>
        </div>
         <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
    </body>
</html>
